<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="pwnedpasswords.pwnedpasswords" android:versionCode="363" android:versionName="1.9">
  <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="28" />
  <permission android:name="${applicationId}.permission.C2D_MESSAGE" android:protectionLevel="signature" />
  <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />
  <application android:label="Pwned Pass" android:largeHeap="true" android:icon="@drawable/icon">
    <meta-data
    android:name="com.google.firebase.messaging.default_notification_icon"
    android:resource="@drawable/ic_notification" />
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_color"
        android:resource="@color/notification" />
  </application>
</manifest>